body {
    min-height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    border: 1px solid black;
    display: block;                               /*Minha Tela do Jogo*/
    margin: 0 auto;
}
